<div class="cocktail-picture" style="background-image: url(<%= @cocktail.image_url %>)"></div>


<div class="container cocktail-container">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2">
      <div class="cocktail-content">
        <h1><%= @cocktail.name %></h1>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li>
              <%= dose.ingredient.name %>: <%= dose.description %>
              <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, dose_path(dose),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4"">
      <div class="newdose-form">
        <%= render 'doses/formdose', dose: [@cocktail, @dose] %>
      </div>
    </div>
  </div>


</div>
