<div class="cocktail-picture" style="background-image: url(<%= @cocktail.image_url %>)"></div>


<div class="container cocktail-container">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2">
      <div class="cocktail-content">
        <h1><%= @cocktail.name %></h1>
        <p><%= @cocktail.type.name %></p>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li>
              <%= dose.ingredient.name %>: <%= dose.description %>
              <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, dose_path(dose),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4"">
      <div class="newdose-form">
        <%= render 'doses/formdose', dose: @dose, cocktail: @cocktail %>
      </div>
    </div>
  </div>
</div>

<div class="container review-container">
  <div class="review-average-rating">
    <p>Average rating: <%= @cocktail.reviews.average(:rating).nil? ? "not yet rated" : "#{@cocktail.reviews.average(:rating)}/5" %></p>
    <p>Number of reviews : <%= @cocktail.reviews.size %></p>

  </div>
  <div class="newreview-form">
    <%= render 'reviews/form_review', review: @review, cocktail: @cocktail %>
  </div>

  <ul>
    <% @cocktail.reviews.each do |review| %>
    <li>
      <%= review.rating %> /5 : <%= review.content %>
    </li>
    <% end %>
  </ul>

</div>

